## email salutation section starts
$email.salutation $email.toName,
## email salutation section ends

## email body starts
This is a demo email content. 
Email body variable #1 :  $email.contentVairables.get("var1")
Email body variable #2 :  $email.contentVairables.get("var2")
## email body ends

## email signature starts
Thanks & Regards
$email.signature.get("name")
(E) $email.signature.get("email")
(C) $email.signature.get("cell")
(O) $email.signature.get("office")
## email signature ends